<footer class="c-footer-01">
    <div class="c-footer__inner">
        <h2>Alternative Footer 01</h2>
        <p>This is a custom footer loaded via Frontmatter.</p>
        <div class="c-footer__copy">
            <small>&copy; 2026 Custom Site</small>
        </div>
    </div>
</footer>
